Connect & Create

In [37]:
import sqlite3
# db connect
conn = sqlite3.connect("SQLiteTest.db")
c = conn.cursor()
#create db/table
#sql1="create database pj1;"
#sql2="use pj1;"
sql3="CREATE TABLE States(StateID INTEGER primary key autoincrement, StateName TEXT);"
sql4="CREATE TABLE Users(PKUserID INTEGER primary key autoincrement, Admin INT, Email TEXT);"
sql5="CREATE TABLE Rating(Rating REAL,FKEventID INT, FKUserID INT);"
sql6="CREATE TABLE events(PKEventID INTEGER primary key autoincrement,FKSportsID INT, EventName TEXT, EventDescription TEXT, UserCapacity INT , TimeStart TEXT,TimeEnd TEXT, FKVenueID INT, FKTagID INT);"
sql7="CREATE TABLE Tags(TagID INTEGER primary key autoincrement,TagName TEXT);"
sql8="CREATE TABLE Venues(PKVenueID INTEGER primary key autoincrement, Venue TEXT, VenueCapacity INT);"
sql9="CREATE TABLE UsersEvent(PKUsersEvent INTEGER primary key autoincrement,FKUserID INT, FKEventID INTEGER);"
sql10="CREATE TABLE Sports(SportID INTEGER primary key autoincrement, SportName TEXT);"
try:
#    mycursor.execute(sql1)
#    mycursor.execute(sql2)
    c.execute(sql3)
    c.execute(sql4)
    c.execute(sql5)
    c.execute(sql6)
    c.execute(sql7)
    c.execute(sql8)
    c.execute(sql9)
    c.execute(sql10)
except Exception as e:
    mydb.rollback()
    print('fail to create tables', e)
else:
        mydb.commit()
        print('succeed')

succeed

Connect

In [22]:
import sqlite3
# db connect
mydb = sqlite3.connect("SQLiteTest.db")

c = mydb.cursor()

In [ ]:
Create Sample Data

In [ ]:
#Create User
c.execute("INSERT INTO Users(Admin, Email) VALUES ('1','HI')")
#Create Venue
c.execute("INSERT INTO Venues (Venue, VenueCapacity) VALUES ('A-1','8')")
c.execute("INSERT INTO Venues (Venue, VenueCapacity) VALUES ('A-2','4')")
#Create Sport
c.execute("INSERT INTO Sports(SportName) VALUES ('Basketball')")
c.execute("INSERT INTO Sports(SportName) VALUES ('Badminton')")
c.execute("INSERT INTO Sports(SportName) VALUES ('Soccer')")
c.execute('INSERT INTO events(FKSportsID, EventName, EventDescription, UserCapacity, \
                TimeStart, TimeEnd, FKVenueID)  \
                VALUES ("3","Event1","Describe1","8","2019-01-01 12:00","2019-01-01 16:00","1")'%(SP,EN,ED,UC,TS,TE,V))
c.execute('INSERT INTO events(FKSportsID, EventName, EventDescription, UserCapacity, \
                TimeStart, TimeEnd, FKVenueID)  \
                VALUES ("1","Event1","Describe1","4","2019-01-01 15:00","2019-01-01 16:00","1")'%(SP,EN,ED,UC,TS,TE,V))

Function 3 Start an event

In [91]:
UC = input("User's ID: ")

#If it is already user
#cursor.execute('''SELECT PKUserID FROM Users WHERE Email = %s''',(email))
#UC = cursor.fetchall()
EN = input("What is the Event Name?")
SP = input("What is the Sport? (Please choose from the following)\n (Basketball, Badminton, Soccer)")

ED = input("Please add some Description")
UC = input("How many people can play?")
TS = input("When will the event start? (Please use YYYY-MM-DD HH:MM format)")
TE = input("How long will the event last?")
TE = '0'+TE
Store = TE
TimeEndHour = int(TE)+int(TS[11:13])
TE = TS[0:11] + str(TimeEndHour) + TS[13:]
V = input("Where will the event take place? (Venue-Court-Court Number)")

c.execute('SELECT PKVenueID FROM Venues WHERE Venue = "%s"'%(V))
p = c.fetchall()
if p == None:
    venue_add()
    c.execute('SELECT MAX(PKVenueID) FROM Venues')
    V = c.fetchall()
else:
    V = p[0][0]
    #print(p[0][0])
V=p[0][0]
c.execute('SELECT SportID FROM Sports WHERE SportName = "%s"'%(SP))
Y = c.fetchall()
SP = Y[0][0]
#print (SP)
#print (SP,EN,ED,UC,TS,TE,V)
c.execute('INSERT INTO events(FKSportsID, EventName, EventDescription, UserCapacity, \
                TimeStart, TimeEnd, FKVenueID)  \
                VALUES ("%s","%s","%s","%s","%s","%s","%s")'%(SP,EN,ED,UC,TS,TE,V))
print("Event Added")

#2019-01-01 15:00

User's ID:  1
What is the Event Name? Event3
What is the Sport? (Please choose from the following)
 (Basketball, Badminton, Soccer) Soccer
Please add some Description D3
How many people can play? 3
When will the event start? (Please use YYYY-MM-DD HH:MM format) 2019-01-01 15:00
How long will the event last? 3
Where will the event take place? (Venue-Court-Court Number) A-2

Event Added

Function 6 List events at a venue given date/time

In [95]:
date = input("What date do you want to search? (Please input in MM/DD format)")
time = input("What time do you prefer? (Please input in 24hr format)")
query = '2019-'+date[0:2]+'-'+date[3:5]+' '+time + ':00'
print(query)
c.execute('SELECT Events.EventName,Venues.Venue FROM events INNER JOIN Venues ON Venues.PKVenueID = Events.FKVenueID WHERE Events.TimeStart = "%s"'%(query))
p1 = c.fetchall()
for x in p1:
    print(x)

What date do you want to search? (Please input in MM/DD format) 01/01
What time do you prefer? (Please input in 24hr format) 15

2019-01-01 15:00
('e1', 'A-2')
('event2', 'A-2')
('Event3', 'A-2')

Function 2 Add Venue

In [39]:
VN = input("What Venue would you like to add? (Venue-Court)")
VC = input("What is the Venue Capacity? ")
c.execute("INSERT INTO Venues (Venue, VenueCapacity) VALUES ('%s','%s')"%(VN,VC))      
mydb.commit()
print("Thank you for adding a Venue!")
c.execute('SELECT * FROM Venues')
x = c.fetchall()
print(x)

What Venue would you like to add? (Venue-Court) A-2
What is the Venue Capacity?  1

Thank you for adding a Venue!
[(1, 'A-2', 1)]

In [92]:
c.execute('SELECT * FROM Events')
x = c.fetchall()
print(x)

[(1, 3, 'e1', 'd1', 2, '2019-01-01 15:00', '2019-01-01 02:00', 1, None), (2, 3, 'event2', 'd2', 3, '2019-01-01 15:00', '2019-01-01 02:00', 1, None), (3, 3, 'Event3', 'D3', 3, '2019-01-01 15:00', '2019-01-01 18:00', 1, None)]